body{
	background-color: black
	
}



h1{
	font-family:"Baskerville";
	font-size: 50px;
	background: linear-gradient(to right, purple, aliceblue, violet, whitesmoke, pink, skyblue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
	text-align: center;
}

@keyframes glitter{
	0%{text-shadow: 0 0 10px purple};
	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px violet};
	60%{text-shadow: 0 0 40px whitesmoke};
	80%{text-shadow: 0 0 50px pink};
	100%{text-shadow: 0 0 60px skyblue};
}


h2{
	font-family: "Baskerville";
	font-size: 40px;
	background: linear-gradient(to right, purple, aliceblue, violet, whitesmoke, pink, skyblue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
	text-align: center;

}
@keyframes glitter{
	0%{text-shadow: 0 0 10px purple};
	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px violet};
	60%{text-shadow: 0 0 40px whitesmoke};
	80%{text-shadow: 0 0 50px pink};
	100%{text-shadow: 0 0 60px skyblue};
}



a{
	font-size: 30px;
	display: flex;


}

ul{
	display: flex;
	flex-wrap: wrap;
	font-weight: bolder;
	margin: 30px;
	padding: 30px;
	background: linear-gradient(to right, purple, aliceblue, violet, whitesmoke, pink, skyblue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
	text-align: center;

}
@keyframes glitter{
	0%{text-shadow: 0 0 10px purple};
	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px violet};
	60%{text-shadow: 0 0 40px whitesmoke};
	80%{text-shadow: 0 0 50px pink};
	100%{text-shadow: 0 0 60px skyblue};
}
	



li{
	margin: 30px;
	padding: 20px;
	flex: 0 0 20%;
	
	
}


p{
	font-size: 26px;
	font-family: 'Baskerville';
	background: linear-gradient(to right, purple, aliceblue, violet, whitesmoke, pink, skyblue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
	text-align: center;

}

@keyframes glitter{
	0%{text-shadow: 0 0 10px purple};
	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px violet};
	60%{text-shadow: 0 0 40px whitesmoke};
	80%{text-shadow: 0 0 50px pink};
	100%{text-shadow: 0 0 60px skyblue};
}




.download{
	justify-content: center;
}

h5{
	color: white;
	font-size: 40px;
	font-family: 'Baskerville';
	background: linear-gradient(to right, purple, aliceblue, violet, whitesmoke, pink, skyblue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
	text-align: center;

}

@keyframes glitter{
	0%{text-shadow: 0 0 10px purple};
	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px violet};
	60%{text-shadow: 0 0 40px whitesmoke};
	80%{text-shadow: 0 0 50px pink};
	100%{text-shadow: 0 0 60px skyblue};
}


