body{
	background-color: black;
	justify-content: center;
	

	
}



h1{
	font-family:"Josefin Sans", serif;
	font-size: 50px;
	background: linear-gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
	text-align: center;
}

@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}



h2{
	font-family: "Josefin Sans", serif;
	font-size: 40px;
	background: linear-gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
	text-align: center;

}
@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}



a{
	font-size: 30px;
	display: flex;


}

ul{
	display: flex;
	flex-wrap: wrap;
	font-weight: bolder;
	margin: 30px;
	padding: 30px;
	background: linear-gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
	text-align: center;

}
@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}




li{
	margin: 30px;
	padding: 20px;
	flex: 1 1 20%;
	list-style: none;
	
	
}


p{
	font-size: 26px;
	font-family: "Josefin Sans", serif;
	background: linear-gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
	text-align: center;

}

@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}




.download{
	justify-content: center;
}

h5{
	color: white;
	font-size: 40px;
	font-family: '"Josefin Sans", serif';
	background: linear-gradient(to right,white, aliceblue, whitesmoke, white, aliceblue, white);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
	text-align: center;

}

@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}


