body{
	background-color: black;

}

.flex-container{
	display: flex;
	justify-content: center;
	font-family: "Baskerville";
	text-align: center;
	font-weight: bolder;

	font-size: 60px;
	margin-left: 20px;
	justify-content: center;
	background: linear-gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white);

	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;


}

@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}

ul{
	display: flex;
	margin: 0;
	padding: 50px;
	font-family: 'Dancing Script';
}

li{
	
	font-size: 30px;
	justify-content: center;
	display: flex;
	margin: 0;
	padding: 50px;
}



h1{
	margin-top: 8px;
	font-family: 'Josefin Sans', serif;
	text-align: center;
	font-weight: bolder;
	font-size: 50px;


	
	margin-left: 20px;
	justify-content: center;
	background: linear-gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white);

	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;

}
@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}

h2{
	color: white;
    font-family: 'Baskerville';
    font-size: 44px;
	text-align: center;
    background: linear-gradient(to right,white, aliceblue, whitesmoke, white, aliceblue, white);

	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
}
@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}



h3{
	color: white;
    font-size: 30px;
    font-family: 'Baskerville';
	text-align: center;
    background: linear-gradient(to right,white, aliceblue, whitesmoke, white, aliceblue, white );

	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: glitter 3s infinite;
}

@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}


p{
	color: white;
	text-align: center;
}


main {
	background: url('https://t3.ftcdn.net/jpg/06/35/33/26/360_F_635332697_CVRc13SME9Ji5UJu4q3Qs1j4LMotZ4qq.jpg');

   
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 2200px;
    width: 100%;
	
}


.delete-button {
	width: 30px;
	height: 30px;
    background-color: #ff5f5f; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer; 
}

.delete-button:hover {
    background-color: #ff0000; /* Darker red background color on hover */
}


.manifestationCheckbox{
	width: 50px;
	height: 50px;
	cursor: help;
	accent-color: purple;
	margin-right: 10px;
	vertical-align: middle;

	
}

.fulfilled::after{
	content: "Congratulations! Your manifestation was received";
	background: linear-gradient(to right, black, red, purple, red, black, purple );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: glitter 1s infinite;
	color: red;
	font-style: italic;
	font-size: 20px;
}

@keyframes glitter{
	0%{text-shadow: 0 0 10px black};
	20%{text-shadow: 0 0 20px red};
	40%{text-shadow: 0 0 30px purple};
	60%{text-shadow: 0 0 40px red};
	80%{text-shadow: 0 0 50px black};
	100%{text-shadow: 0 0 60px purple};
}

.manifestationCheckbox:hover{
	color: 2px solid red;
	

}

.tooltip{
	visibility: hidden;
	background-color: black;
	color: pink;
	border: 1px solid ccc;
	padding: 5px;
	border-radius: 4px;
	position: absolute;
	z-index: 1;
}

.manifestationCheckbox:hover+.tooltip{
	visibility: visible;
}



#formname{
	color: white;
    font-size: 40px;
    font-family: 'Baskerville';
    background: linear-gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: glitter 3s infinite;
}

@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}


.entry-text{
	background-color:pink;
	
	font-family: "Baskerville";
	font-size: 40px;
	line-height: 1.5;
	display: inline-block;
	width: calc(100% - 100px);
	margin-right: 10px;
	background: linear-gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: glitter 3s infinite;
}

@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}

.entry-text:hover{
	color: purple;
}

.edit-button::before{
	size: 10px;
	display: inline-block;
	margin-right: 5px;

}

.edit-button, .delete-button{
	width: 50px;
	height: 50px;
	margin-left: 5px;
}


.entry-form {
    margin-bottom: 20px;
	justify-content: center;
	align-items: center;
	flex: 0 0 18%;
	
}

.entry-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
	align-items: center;
	justify-content: center;
}

.entry-form textarea {
	background: linear gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white );
	background-color: black;
	animation: glitter 3s infinite;
    width: 90%;
	font-family: "Baskerville";
    padding: 10px;
    border-radius: 4px;
    border: 5px dotted slateblue;
    font-size: 30px;
	justify-content: center;
}

@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}


.entry-form textarea:hover{
	color: violet;
}

.entry-form button {
    display: inline-block;
	padding: 10px 20px;
	font-weight: bolder;
	color: white;
	margin-top: 20px;
	margin-bottom: 40px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Baskerville', 'serif';
	transition: background-color 0.3s ease;
	background: linear-gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white);
	animation: glitter 3s infinite;
}

@keyframes glitter{

	0%{text-shadow:  0 0 10px white};

	20%{text-shadow: 0 0 20px aliceblue};
	40%{text-shadow: 0 0 30px whitesmoke};
	60%{text-shadow: 0 0 40px white};
	80%{text-shadow: 0 0 50px aliceblue};
	
	100%{text-shadow: 0 0 60px white};
}

.entry-form button:hover {
    color:silver;
}

.entries h2 {
    margin-bottom: 10px;
	

}

#entry-list {
	
    list-style-type: none;
    padding: 0;
}

#entry-list li {
    padding: 10px;
	background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
    
    display: flex;
    align-items: center;
}

#entry-list li input[type="checkbox"] {
    margin-right: 10px;
}

#entry-list li.fulfilled {
    text-decoration: line-through;
    color: #888;
}


#google-login-btn {
    font-family: "Baskerville";
    margin: 0 auto;
    padding: 10px 20px;
    font-weight: bolder;
    color: black;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Baskerville', 'serif';
    background: linear-gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white);
    animation: glitter 3s infinite;
}


.button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


@keyframes glitter {
    0% { text-shadow: 0 0 10px white; }
    20% { text-shadow: 0 0 20px aliceblue; }
    40% { text-shadow: 0 0 30px whitesmoke; }
    60% { text-shadow: 0 0 40px white; }
    80% { text-shadow: 0 0 50px aliceblue; }
    100% { text-shadow: 0 0 60px white; }
}

